<!DOCTYPE html>
	<html>
		<head>
		<link rel="icon" href="http://adrifelcha.github.io/BlackBunny.png">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		<style>
			header {
    				padding: 3em;
    				color: white;
    				background: linear-gradient(to bottom right, #086A87, #000000);
    				clear: left;
    				text-align: center;
    				border: 1px solid gray;
			
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">My work</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			
			<header>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    			</header>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adrifelcha@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Adrifelcha">github.com/Adrifelcha</a></li>
				</ul>
			</footer>
		</body>
	</html>
