<!DOCTYPE html>
	<html>
		<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	        <link rel="stylesheet" type="text/css" href="/css/main.css">
		<title>{{ page.title }}</title>
		<link rel="icon" href="https://adrifelcha.github.io/BlackBunny.png">
			<title>{{ page.title }}</title>
				
		</head>
		<body>
			<nav>
				<a href="https://adrifelcha.github.io" class="w3-btn w3-dark-grey w3-border w3-border-black w3-xlarge w3-round-large w3-hover-amber">Home <i class="fa fa-home" aria-hidden="true"></i></a>
				<a href="/about" class="w3-btn w3-dark-grey w3-border w3-border-black w3-xlarge w3-round-large w3-hover-red"> About Me <i class="fa fa-coffee" aria-hidden="true"></i></a>
				<a href="/cv" class="w3-btn w3-dark-grey w3-button w3-border w3-border-black w3-hover-indigo w3-xlarge w3-round-large"> My Work <i class="fa fa-cubes" aria-hidden="true"></i></a>	 
			        <a href="/blog" class="w3-btn w3-border w3-border-black w3-dark-grey w3-button w3-xlarge w3-hover-light-green w3-round-large">Personal Blog <i class="fa fa-heart-o" aria-hidden="true"></i></a>
				<a href="#" class="w3-btn w3-disabled w3-border w3-border-black w3-dark-grey w3-button w3-xlarge w3-hover-pink w3-round-large"><i class="fa fa-bullhorn" aria-hidden="true"></i> Updates / Events <i class="fa fa-bell" aria-hidden="true"></i></a>
	
			</nav>
			
			<header class=style1>
      <h1>Adriana F. Chávez</h1>
      <h2>My very own GiHub Page! </h2> 
    			</header>
								
			<br> <br>
			
			{{ content }}
			
			
			<br><br>
			<footer>
	    		<a href="mailto:adrifelcha@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"> adrifelcha@gmail.com <i class="fa fa-envelope-square" aria-hidden="true"></i></a>
	        	<a href="https://github.com/Adrifelcha"> <i class="fa fa-github-alt" aria-hidden="true"></i> github.com/Adrifelcha <i class="fa fa-github-alt" aria-hidden="true"></i></a>
			</footer>
		</body>
	</html>
