---
layout: default
comments: true
---

<div class="notes">
		<div class="note single">
			<div class="container">
			<h1 class="title" style="text-align:center;">{{ page.title }}</h1>
			
			<h2 class="date" style="text-align:right"><info datetime="{{ page.date }}">
				{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
			</info></h2>
			<!-- Post content -->
			<div class="notebody">
				{{ content }}
			</div> 
			<!-- Post info -->
			<div class="noteinfo">
			<!-- include some categories and tags maybe? -->
				</div></div>

			<hr>

			<!-- Post comments -->
			<div class="notecomments">
				{% include disqus.html %}	 
			</div>
			</div>
</div><!-- /.notes -->
